{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "assets": "./src/assets",
          "components": "./src/components",
          "data": "./src/data",
          "lib": "./src/lib"
        }
      }
    ]
  ]
}
